<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map interface testing for website</title>
    <!-- Axios -->
    <script src='https://unpkg.com/axios/dist/axios.js'></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- BOOTSTRAP -->
    <link href="./css/main.min.css" rel="stylesheet">
    <!-- ICONS LIBRARY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@next'></script>
    <!-- <link rel="stylesheet" href="./templates/"> -->
    <link rel="stylesheet" href="./templates/template.css">
    <!-- access firebase -->
    <script type="module" src="./map_CRUD_database.js"></script>
    <style>
        /* 
        * Always set the map height explicitly to define the size of the div element
        * that contains the map. 
        */
        #map {
        height: 95%;
        width: 65%;
        }

        /* 
        * Optional: Makes the sample page fill the window. 
        */
        html,
        body {
        height: 100%;
        padding: 0;
        }
        .address{
            font-style: italic;
            }
            .description{
            text-align: justify;
            }
            .progress{
            height: 25px; 
            border-radius: 25px;
            border: 2px solid black;
            box-shadow: 0px 0px 10px lightskyblue;
            }
            .voting_buttons{
            display: flex;
            justify-content: center;
            padding-top: 10px;
            }
            .reject_btn{
            margin-right: 5px;
            }
            .vote_btn{
            margin-left: 5px;
            }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row sidebar-parent flex-nowrap">
            <div id="nav" class="col-2 sidebar-css">
                 <!-- SIDEBAR  -->
                <sidebar-phase2></sidebar-phase2>
            </div>

            <!-- whole site -->
            <!-- ALL OTHER CONTENT ACTIVITY COL-->
            <div class="col py-4" id="app">
                <div class="row">
                    <!-- pop up if create activity -->
                    <div :style="{display: d_create()}" class="col py-3">
                        <!-- create activity -->
                        <div class="container text-dark">
                            <h3 class="heading">Create an Activity</h3>
                            
                            <form>
                                <!-- PLACE  -->
                                <div class="row">
                                    <div class="col-7">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="autocomplete" placeholder="Start by typing a location here...">
                                            <label for="input_place">Start by typing a location here...</label>
                                        </div>
                                    </div>
                                    <!-- TAG -->
                                    <div class="col-5">
    
                                        <!-- vue for tag -->
                                        <div id="main2" class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text">#</span>
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="input_tag" placeholder="Add a Tag" list="list_all_tags" v-model="tag_input">
                                                    <label for="input">Add a Tag</label>
                                                </div>
                                            </div> 
                
                                            <!-- LIST OF CURRENT TAGS -->
                                            <datalist id="list_all_tags">
                                                <option v-for="tag of tags" :value="tag"></option>
                                                
                                            </datalist>
                                            
                                        
                                        </div>
                                    </div>
                                </div>
                                <!-- DESCRIPTION -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Add a Description" id="input_description" style="height: 100px"></textarea>
                                    <label for="input_description">Add a Description</label>
                                </div>
                
                                <!-- Currency converter -->
                                <div id="main">
                                        <!--  ENTER COST   -->
                                        <div class="row">
                                            <div class="col-5">
                                            <div class="row g-0">
                                                <div class="col-8">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="amount" v-on:change="calculate_to_from()">
                                                        <label for="input_place">Enter the Cost/person</label>
                                                    </div>
                                                </div>    
                
                
                                            <!-- DEFAULT FROM SGD -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="from">
                                                    <!-- <p>From</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/sg.png" alt="flag"> -->
                                                            <select class="form-select" id="floatingSelect" v-model="from" v-on:change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                            <!-- <label for="floatingSelect">From</label> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                
                                    <!-- CONVERTER ICON -->
                                    <div class="col-2">
                                        <div class="icon"><i class="fas fa-exchange-alt"></i></div>
                                    </div>
                
                                        <!-- AUTOFILLED BY API -->
                                    <div class="col-5">
                                        <div class="row g-0">
                                            <div class="col-8">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="converted_amount" @change="calculate_from_to()">
                                                    <label for="input_place">Enter the Cost/person</label>
                                                </div>   
                                            </div> 
                                                <!-- DEFAULT TO KRW -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="to">
                                                        <!-- <p>To</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/kr.png" alt="flag"> -->
                                                        <select class="form-select" id="floatingSelect" v-model="to" @change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                
                                    </div>
                                </div>
                
                                <!-- ATTACHMENTS  -->
                                <div class="form-floating mb-5">
                                    <div class="input-group mb-3" style="width: 50%;">
                                        <label class="input-group-text" for="inputGroupFile01">Add Attachment</label>
                                        <input type="file" class="form-control" id="inputGroupFile01">
                                    </div>
                                </div>
    
                                <!-- BACK & CREATE ACTIVITY BUTTON  -->
                                <div class="buttons">
                                    <!-- important to add type="button" so that the button doesn't submit and refresh the page -->
                                    <button type="button" class="btn back_button btn-main-bold-fixed" data-bs-toggle="modal" data-bs-target="#back_button_modal" >Back</button>
                                    <!-- should write data to db and update InfoWindow -->
                                    <button type="button" class="btn create_button btn-main-fixed" @click="create_true=false">Create</button>
    
                                    <!-- Back Button Modal -->
                                    <div class="modal fade" id="back_button_modal" tabindex="-1" aria-labelledby="back_button_modal_label1" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="ModalLabel">Confirm Navigation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure you want to leave this page? Any unsaved changes will be lost. 
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal" >Close</button>
                                            <button type="button" class="btn btn-main-fixed" data-bs-dismiss="modal" @click="create_true=false,map_width='90%', delete_marker(marker_id)">Confirm</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                
                
                                </div>
                
                            </form>
                        </div>
                    </div>
                    <!-- pop up if edit activity -->
                    <div :style="{display: d_edit()}" class="col py-3">
                        <div class="container text-dark">
                            <h3 class="heading">Edit Activity</h3>
                            <form>
                                <!-- should read data from db -->
                                <!-- PLACE  -->
                                <div class="row">
                                    <div class="col-7">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="input_place" placeholder="Add a Place">
                                            <label for="input_place">Add a Place</label>
                                        </div>
                                    </div>
                                    <!-- TAG -->
                                    <div class="col-5">
                                        <!-- vue for tag -->
                                        <div id="main2" class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text">#</span>
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="input_tag" placeholder="Add a Tag" list="list_all_tags" v-model="tag_input">
                                                    <label for="input">Add a Tag</label>
                                                </div>
                                            </div> 
                
                                            <!-- LIST OF CURRENT TAGS -->
                                            <datalist id="list_all_tags">
                                                <option v-for="tag of tags" :value="tag"></option>
                
                                            </datalist>
                                            
                                        </div>
                                    </div>
                                </div>
    
                                <!-- DESCRIPTION -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Add a Description" id="input_description" style="height: 100px"></textarea>
                                    <label for="input_description">Add a Description</label>
                                </div>
                
                                <!-- Currency converter -->
                                <div id="main">
                                        <!--  ENTER COST   -->
                                    <div class="row">
                                        <div class="col-5">
                                        <div class="row g-0">
                                            <div class="col-8">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="amount" v-on:change="calculate_to_from()">
                                                    <label for="input_place">Enter the Cost/person</label>
                                                </div>
                                            </div>    
                
                
                                            <!-- DEFAULT FROM SGD -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="from">
                                                    <!-- <p>From</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/sg.png" alt="flag"> -->
                                                            <select class="form-select" id="floatingSelect" v-model="from" v-on:change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                            <!-- <label for="floatingSelect">From</label> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                
                                    <!-- CONVERTER ICON -->
                                    <div class="col-2">
                                        <div class="icon"><i class="fas fa-exchange-alt"></i></div>
                                    </div>
                
                                        <!-- AUTOFILLED BY API -->
                                    <div class="col-5">
                                        <div class="row g-0">
                                            <div class="col-8">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="converted_amount" @change="calculate_from_to()">
                                                    <label for="input_place">Enter the Cost/person</label>
                                                </div>   
                                            </div> 
                                                <!-- DEFAULT TO KRW -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="to">
                                                        <!-- <p>To</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/kr.png" alt="flag"> -->
                                                        <select class="form-select" id="floatingSelect" v-model="to" @change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                
                                </div>
                                </div>
                
                                <!-- ATTACHMENTS  -->
                                <div class="form-floating mb-5">
                                    <div class="input-group mb-3" style="width: 50%;">
                                        <label class="input-group-text" for="inputGroupFile01">Add Attachment</label>
                                        <input type="file" class="form-control" id="inputGroupFile01">
                                    </div>
                                </div>
                
                                <!-- DELETE AND CONFIRM ACTIVITY BUTTON  -->
                                <div class="buttons">                         
                                    <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal" @click="edit_true=false, delete_marker(marker_id)">Delete</button>
                                    <!-- should write data to db and update infoWindow -->
                                    <button type="button" class="btn save_button btn-main-fixed" @click="edit_true=false,map_width='90%'">Save</button>
    
                                    <!-- Back Button Modal -->
                                    <div class="modal fade" id="del_button_modal" tabindex="-1" aria-labelledby="del_button_modal_label1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="ModalLabel">Delete Activity</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                Are you sure you want to delete activity?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal" >Close</button>
                                                <button type="button" class="btn btn-main-fixed">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                
                                </div>
                                
                            </form>
                            
                        </div>
                    </div>
                
    
                    <!-- map interface MAP COL -->
                    <div class="col" style="width: 90vw; height: 90vh">
                        <!-- map details -->
                        <div id="map"></div><button style="position: absolute; bottom: 0px; right: 70px;" class="btn btn-main-fixed" @click="create_true=true,edit_true=false">Create Activity</button>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    <!-- functions -->
    <script>
        // vue app
        const app = Vue.createApp({ 
            data() { 
                return { 
                    create_true: false,
                    edit_true: false,
                    map_width: '90%',
                    map: "",
                    marker_id: uniqueId,
                    amount: "", 
                    // main stuff
                    from: "SGD", 
                    to: "KRW", 
                    converted_amount: "",
                    api_key: "wjnJhKhIK8qWrTVQ2YILd5wpxuyRGSP2",
                    home_country: "SGD",
                    // main2 stuff
                    tags: ["Shopping", "Museum", "Food", "Attraction", "Sports", "Theme Park", "Camping", "Hiking", "Aquarium", "Zoo", "Tour", "Cruise"],     
                    tag_input: "",
                    existing: ""
                };
            }, // data
            // computed: { 
            //     derivedProperty() {
            //         return false;
            //     }  
            // }, // computed
            // created() { 
            // },
            // mounted() { 
                
            // },
            methods: {
                d_create() {
                    if (this.create_true == false) {
                        return "none"
                    } else if (this.create_true == true) {
                        return ""
                    }
                },
                
                d_edit() {
                    if (this.edit_true == false) {
                        return "none"
                    } else if (this.edit_true == true) {
                        return ""
                    }
                },
                
                delete_marker(id) {
                    DeleteMarker(id);
                },
                
                calculate_to_from() {
                    if (this.from != "SGD"){
                        this.to = "SGD"
                    }

                    let api_endpoint_url = `https://api.apilayer.com/exchangerates_data/convert?to=${this.to}&from=${this.from}&amount=${this.amount}&apikey=${this.api_key}`
                    // 250 times per month 
                    axios.get(api_endpoint_url)
                    .then(response => {
                        
                        // Inspect the response.data
                        let converted = response.data["result"]; 
                        this.converted_amount = (Math.round(converted*100))/100
                        
                    })
                    .catch(error => {
                        console.log(error.message)
                    })
                },
                
                calculate_from_to() {
                    let api_endpoint_url = `https://api.apilayer.com/exchangerates_data/convert?to=${this.from}&from=${this.to}&amount=${this.converted_amount}&apikey=${this.api_key}`
                    
                    axios.get(api_endpoint_url)
                    .then(response => {
                        
                        // Inspect the response.data
                        let converted = response.data["result"]; 
                        this.amount = (Math.round(converted*100))/100
                        
                    })
                    .catch(error => {
                        console.log(error.message)
                    })
                },
                
            } // methods
            // , updated() {
            //     alert('updated')
            // }
        });
        const vm = app.mount('#app'); 

        // main js variables
        let country_list = {
            "AED" : "AE",
            "AFN" : "AF",
            "XCD" : "AG",
            "ALL" : "AL",
            "AMD" : "AM",
            "ANG" : "AN",
            "AOA" : "AO",
            "AQD" : "AQ",
            "ARS" : "AR",
            "AUD" : "AU",
            "AZN" : "AZ",
            "BAM" : "BA",
            "BBD" : "BB",
            "BDT" : "BD",
            "XOF" : "BE",
            "BGN" : "BG",
            "BHD" : "BH",
            "BIF" : "BI",
            "BMD" : "BM",
            "BND" : "BN",
            "BOB" : "BO",
            "BRL" : "BR",
            "BSD" : "BS",
            "NOK" : "BV",
            "BWP" : "BW",
            "BYR" : "BY",
            "BZD" : "BZ",
            "CAD" : "CA",
            "CDF" : "CD",
            "XAF" : "CF",
            "CHF" : "CH",
            "CLP" : "CL",
            "CNY" : "CN",
            "COP" : "CO",
            "CRC" : "CR",
            "CUP" : "CU",
            "CVE" : "CV",
            "CYP" : "CY",
            "CZK" : "CZ",
            "DJF" : "DJ",
            "DKK" : "DK",
            "DOP" : "DO",
            "DZD" : "DZ",
            "ECS" : "EC",
            "EEK" : "EE",
            "EGP" : "EG",
            "ETB" : "ET",
            "EUR" : "FR",
            "FJD" : "FJ",
            "FKP" : "FK",
            "GBP" : "GB",
            "GEL" : "GE",
            "GGP" : "GG",
            "GHS" : "GH",
            "GIP" : "GI",
            "GMD" : "GM",
            "GNF" : "GN",
            "GTQ" : "GT",
            "GYD" : "GY",
            "HKD" : "HK",
            "HNL" : "HN",
            "HRK" : "HR",
            "HTG" : "HT",
            "HUF" : "HU",
            "IDR" : "ID",
            "ILS" : "IL",
            "INR" : "IN",
            "IQD" : "IQ",
            "IRR" : "IR",
            "ISK" : "IS",
            "JMD" : "JM",
            "JOD" : "JO",
            "JPY" : "JP",
            "KES" : "KE",
            "KGS" : "KG",
            "KHR" : "KH",
            "KMF" : "KM",
            "KPW" : "KP",
            "KRW" : "KR",
            "KWD" : "KW",
            "KYD" : "KY",
            "KZT" : "KZ",
            "LAK" : "LA",
            "LBP" : "LB",
            "LKR" : "LK",
            "LRD" : "LR",
            "LSL" : "LS",
            "LTL" : "LT",
            "LVL" : "LV",
            "LYD" : "LY",
            "MAD" : "MA",
            "MDL" : "MD",
            "MGA" : "MG",
            "MKD" : "MK",
            "MMK" : "MM",
            "MNT" : "MN",
            "MOP" : "MO",
            "MRO" : "MR",
            "MTL" : "MT",
            "MUR" : "MU",
            "MVR" : "MV",
            "MWK" : "MW",
            "MXN" : "MX",
            "MYR" : "MY",
            "MZN" : "MZ",
            "NAD" : "NA",
            "XPF" : "NC",
            "NGN" : "NG",
            "NIO" : "NI",
            "NPR" : "NP",
            "NZD" : "NZ",
            "OMR" : "OM",
            "PAB" : "PA",
            "PEN" : "PE",
            "PGK" : "PG",
            "PHP" : "PH",
            "PKR" : "PK",
            "PLN" : "PL",
            "PYG" : "PY",
            "QAR" : "QA",
            "RON" : "RO",
            "RSD" : "RS",
            "RUB" : "RU",
            "RWF" : "RW",
            "SAR" : "SA",
            "SBD" : "SB",
            "SCR" : "SC",
            "SDG" : "SD",
            "SEK" : "SE",
            "SGD" : "SG",
            "SKK" : "SK",
            "SLL" : "SL",
            "SOS" : "SO",
            "SRD" : "SR",
            "STD" : "ST",
            "SVC" : "SV",
            "SYP" : "SY",
            "SZL" : "SZ",
            "THB" : "TH",
            "TJS" : "TJ",
            "TMT" : "TM",
            "TND" : "TN",
            "TOP" : "TO",
            "TRY" : "TR",
            "TTD" : "TT",
            "TWD" : "TW",
            "TZS" : "TZ",
            "UAH" : "UA",
            "UGX" : "UG",
            "USD" : "US",
            "UYU" : "UY",
            "UZS" : "UZ",
            "VEF" : "VE",
            "VND" : "VN",
            "VUV" : "VU",
            "YER" : "YE",
            "ZAR" : "ZA",
            "ZMK" : "ZM",
            "ZWD" : "ZW"
        }

        // To generate drop down list for country currency

        const dropList = document.querySelectorAll("form select");
        // fromCurrency = document.querySelector(".from select"),
        // toCurrency = document.querySelector(".to select"),
        // getButton = document.querySelector("form button");

        // dropdown list for activities
        for (let i = 0; i < dropList.length; i++) {
            for(let currency_code in country_list){
                // selecting USD by default as FROM currency and NPR as TO currency
                let selected = i == 0 ? currency_code == "SGD" ? "selected" : "" : currency_code == "KRW" ? "selected" : "";
                // creating option tag with passing currency code as a text and value
                let optionTag = `<option value="${currency_code}" ${selected}>${currency_code}</option>`;
                // inserting options tag inside select tag
                dropList[i].insertAdjacentHTML("beforeend", optionTag);
            }
            dropList[i].addEventListener("change", e =>{
                loadFlag(e.target); // calling loadFlag with passing target element as an argument
            });
        }

        // loading Flag - activities
        function loadFlag(element){
            for(let code in country_list){
                if(code == element.value){ // if currency code of country list is equal to option value
                    let imgTag = element.parentElement.querySelector("img"); // selecting img tag of particular drop list
                    // passing country code of a selected currency code in a img url
                    imgTag.src = `https://flagcdn.com/48x36/${country_list[code].toLowerCase()}.png`;
                }
            }
        }

        // create your map
        function initMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: {lat: 37.5665, lng:126.9780},
            }
            );
            this.map = map;
            // map.addListener("click", (e) => {
            //     create_marker_by_click(e.latLng,map);
            // });
            for (place of location_coded) {
                create_marker(place, map)
            }
            initAutocomplete();

        }
        
        // enable Autocomplete
        function initAutocomplete() {
            let map = this.map
            // Init Autocomplete
            var input = document.getElementById('autocomplete');
            const options = {
                componentRestrictions: {'country':['US', 'CH', 'KR', 'SG']},
                fields: ['place_id','name','geometry','formatted_address']
            };
            const autocomplete = new google.maps.places.Autocomplete(input, options);
            // autocomplete connected to map viewport
            autocomplete.bindTo('bounds',map);

            // create marker for searched location, go to location, save into marker list
            autocomplete.addListener('place_changed', () => {

                const infowindow = new google.maps.InfoWindow();
                const icon = {
                    url:  "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
                    scaledSize: new google.maps.Size(40,40),
                    };
                const marker = new google.maps.Marker({
                    map: map,
                    icon: icon
                });
                
                infowindow.close()
                marker.setVisible(false);

                const place = autocomplete.getPlace();
                
                if (!place.geometry || !place.geometry.location) {
                window.alert(`No details available for the place: "${place.name}"`
                );
                return;
                }
                if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
                } else {
                map.setCenter(place.geometry.location);
                }

                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                marker.id = uniqueId;
                vm.$data.marker_id = uniqueId
                uniqueId++;
                
                
                const contentString = 
                `
                <div id="content" name="${marker.id}">
                <div id="siteNotice"></div>

                <div class="container">
                
                <div class="row">
                    <div class = "col-8">
                    <span class="badge rounded-pill text-bg-warning">#Shopping</span>
                    <h3>${place.name}</h3>
                    <p class="address">${place.formatted_address}<p>
                    <hr>
                    <h6>$100/person</h6>
                    <p class="description">Description included by user.     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod consequuntur, provident magnam nobis quis autem odit, nulla inventore cumque repudiandae facere. Nisi, itaque! Odit eos libero dolorem, reprehenderit dicta illo!</p>
                    </div>


                    <div class="col-4" style:"position:relative">
                    <p class="pt-3">Current Votes: </p>
                        <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-label="voted_yes" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-danger" role="progressbar" aria-label="voted_no" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-secondary" role="progressbar" aria-label="yet_to_vote" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="voting_buttons pt-3">
                        <button type="button" class="btn btn-danger btn-sm reject_btn">Reject</button>
                        <button type="button" class="btn btn-success btn-sm vote_btn"> Vote </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-sm rounded bg-primary text-white float-end" data-bs-toggle="button" onclick="set_edit(this)">Edit<div id="get_marker_id" style="display: none;">${marker.id}</div></button>
                        </div>
                        
                    </div>

                </div>  
                </div>
            </div>
            </div>
                `
            // line for deleting marker by clicking in InfoWindow
            // <input type = 'button' va;ue = 'Delete' onclick = 'DeleteMarker( ${marker.id});' value = 'Delete Activity' />
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
            markers.push(marker)
            marker.addListener("click", (googleMapsEvent) => {
                infowindow.open(map, marker);})
            })
        }
        
        // changes vue.js values for editing pop up
        function set_edit(object) {
            if (vm.$data.edit_true == false) {
                vm.$data.edit_true = true
                vm.$data.create_true = false
                vm.$data.marker_id = event.target.querySelector("div[id='get_marker_id']").innerText
            } else {
                vm.$data.edit_true = false
                vm.$data.create_true = true
            }
        }
            
        // create markers on click - maybe don't need to have this feature
        // function create_marker_by_click(latLng, map) {

        //     const icon = {
        //        url:  "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
        //        scaledSize: new google.maps.Size(30,30),
        //     };
        //     var marker = new google.maps.Marker({
        //         position: latLng,
        //         map: map,
        //         icon: icon
        //     });
                    
        //     // get location details from latLng NEED FIXING
        //     const geocoder = new google.maps.Geocoder();
        //     geocoder
        //         .geocode({ location: latLng })
        //         .then((response) => {
        //         if (response.results[0]) {
        //             console.log(response.results[0])
            
        //         } else {
        //             window.alert("No results found");
        //         }
        //         })
        //         .catch((e) => window.alert("Geocoder failed due to: " + e));
            

        //     // identify the marker
        //     marker.id = uniqueId;
        //     uniqueId++;

        //     // customized InfoWindow
        //     const contentString = 
        //         `
        //         <div id="content">
        //         <div id="siteNotice"></div>
                
        //         <div class="container">

        //         <div class="row">
        //             <div class = "col-8">
        //             <span class="badge rounded-pill text-bg-warning">#Shopping</span>
        //             <h3>Hongdae Shopping Street</h3>
        //             <p class="address">365-8 Seogyo-dong, Mapo-gu, Seoul, South Korea<p>
        //             <hr>
        //             <h6>$100/person</h6>
        //             <p class="description">Description included by user.     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod consequuntur, provident magnam nobis quis autem odit, nulla inventore cumque repudiandae facere. Nisi, itaque! Odit eos libero dolorem, reprehenderit dicta illo!</p>
        //             </div>

        //             <div class="col-4" style:"position:relative">
        //             <p class="pt-3">Current Votes: </p>
        //                 <div class="progress">
        //                 <div class="progress-bar bg-success" role="progressbar" aria-label="voted_yes" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
        //                 <div class="progress-bar bg-danger" role="progressbar" aria-label="voted_no" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        //                 <div class="progress-bar bg-secondary" role="progressbar" aria-label="yet_to_vote" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        //                 </div>
        //                 <div class="voting_buttons pt-3">
        //                 <button type="button" class="btn btn-danger btn-sm reject_btn">Reject</button>
        //                 <button type="button" class="btn btn-success btn-sm vote_btn"> Vote </button>
        //                 </div>
        //                 <div>
        //                     <button type="button" class="btn btn-sm rounded bg-primary text-white float-end" data-bs-toggle="button">Edit</button>
                        
        //                     <input type = 'button' va;ue = 'Delete' onclick = 'DeleteMarker( ${marker.id});' value = 'Delete Activity' />
        //                 </div>

        //             </div>

        //         </div>  
        //         </div>
        //     </div>
        //     </div>
        //         `
            
        //     const infoWindow = new google.maps.InfoWindow({
        //         content: contentString,
        //         disableAutoPan: true,
        //     });
            
        //     // allow marker to be deleted
        //     var label = "<br /><input type = 'button' va;ue = 'Delete' onclick = 'DeleteMarker(" + marker.id + ");' value = 'Delete' />";
        //     // open infoWindow :click
        //     marker.addListener("click", (googleMapsEvent) => {
        //         infoWindow.open(map, marker);
        //     });
        //     // add marker to array
        //     markers.push(marker)
        // }

        // get place ID v1
        // function getPID(latLng) {
        //         var geocoder = new google.maps.Geocoder;
        //         if (latLng !== "") {
        //             return new Promise(function(resolve, reject) {
        //                 geocoder.geocode({'location': latLng}, function(results, status) {
        //                     if (status === google.maps.GeocoderStatus.OK) {
        //                         if (results[1]) {
        //                             // console.log(results[1].place_id);
        //                             resolve(results[1].place_id)
        //                         } else {
        //                             window.alert('No results found');
        //                         }
        //                         } else {
        //                         window.alert('Geocoder failed due to: ' + status);
        //                         }
        //                 });
        //             })
        //         }
        //     }

        // // get place ID v1
        // function get_place_id(marker,latLng) {
        //         var geocoder = new google.maps.Geocoder;

        //         latitude=marker.getPosition().lat();               
        //         longitude=marker.getPosition().lng();
        //         var latlng = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
                
        //         geocoder.geocode({'location': latlng}, function(results, status) {
        //         if (status === google.maps.GeocoderStatus.OK) {
        //             if (results[1]) {
        //                 // console.log(results[1].place_id);
        //                 var p_id = results[1].place_id;
        //                 // console.log(p_id)
        //                 return p_id
        //             } else {
        //                 window.alert('No results found');
        //             }
        //         } else {
        //         window.alert('Geocoder failed due to: ' + status);
        //             }
        //         });
        //         }

        // get place details from place ID
        
        // function get_place_details(p_id) {
        //     axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
        //             params: {
        //                 place_id:  p_id,
        //                 key: 'AIzaSyBw6a6E_r_udr7CXLmLZ-6HspypPd9qvMU'
        //             }
        //         })
        //             .then(response => {
        //                 console.log(response.data.results[0]);
        //                 var place_details = response.data.results[0]
        //                 return place_details
        //             })
        //             .catch( error => {
        //                 console.log(error.message);
        //             });
        // }

        // delete marker
        
        function DeleteMarker(id) {
                //Find and remove the marker from the Array
                for (var i = 0; i < markers.length; i++) {
                    if (markers[i].id == id) {
                        //Remove the marker from Map                  
                        markers[i].setMap(null);
        
                        //Remove the marker from array.
                        markers.splice(i, 1);
                        return;
                    }
                }
            };
            
        // delete all created markers
        function DeleteMarkers() {
            for (var i = 0; i < (markers.length)+1; i++) {
                //Remove the marker from Map                  
                markers[i].setMap(null);
            }
            markers = []
            uniqueId = 1
        }

         // create existing marker
         function create_marker(place,map) {
            const icon = {
                    url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png", // url
                    scaledSize: new google.maps.Size(40, 40), // scaled size
                    // origin: new google.maps.Point(0,0), // origin
                    // anchor: new google.maps.Point(0, 0) // anchor
                };
                var marker = new google.maps.Marker({
                    position: place.latlng,
                    map: map,
                    icon: icon
                });
                var infoWindow = new google.maps.InfoWindow({
                    content: "",
                    disableAutoPan: true,
                    });
                // Set unique id
                marker.id = uniqueId;
                vm.$data.marker_id = uniqueId
                uniqueId++;
                

                // set infoWindow
                var contentString = 
                    `
                    <div id="content" name="${marker.id}>
                    <div id="siteNotice"></div>

                    <div class="container">
                    
                    <div class="row">
                        <div class = "col-8">
                        <span class="badge rounded-pill text-bg-warning">#Shopping</span>
                        <h3>${place.name}</h3>
                        <p class="address">${place.address}<p>
                        <hr>
                        <h6>SGD ${place.price.sgd} / KRW ${place.price.krw} per person</h6>
                        <p class="description">Top picks that the fam wants to visit while in Korea</p>
                        </div>
                        

                        <div class="col-4" style:"position:relative">
                        <p class="pt-3">Current Votes: </p>
                            <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-label="voted_yes" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" aria-label="voted_no" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-secondary" role="progressbar" aria-label="yet_to_vote" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="voting_buttons pt-3">
                            <button type="button" class="btn btn-danger btn-sm reject_btn">Reject</button>
                            <button type="button" class="btn btn-success btn-sm vote_btn"> Vote </button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-sm rounded bg-primary text-white float-end" data-bs-toggle="button" onclick="set_edit(this)">Edit<div id="get_marker_id" style="display: none;">${marker.id}</div></button>
                            </div>
                            
                        </div>

                    </div>  
                    </div>
                </div>
                </div>
                    `
                // delete button removed from contentString
                // <input type = 'button' va;ue = 'Delete' onclick = 'DeleteMarker( ${marker.id});' value = 'Delete Activity' />
                marker.addListener("click", (googleMapsEvent) => {
                    infoWindow.setContent(contentString);
                    infoWindow.open(map, marker);});
                
        }


        // cached variables
        var markers = [];
        var uniqueId = 1;

        var location_coded = [
            {
                name: 'Seoul Forest Park, Ttukseom-ro, Seongdong-gu, Seoul, South Korea',
                address: '273 Ttukseom-ro, Seongdong-gu, Seoul, South Korea',
                latlng: { lat: 37.5444, lng: 127.0374 },
                price: {sgd: 0, krw: 0}
            },
            {
                name: 'Seoul Tower, Namsangongwon-gil, Yongsan-gu, Seoul, South Korea',
                address: '105 Namsangongwon-gil, Yongsan-gu, Seoul, South Korea',
                latlng: { lat: 37.5512, lng: 126.9882 },
                price: {sgd: 12, krw: 12000}
            },
            {
                name: 'Seoul Station Square, Hangang-daero, Jung-gu, Seoul, South Korea',
                address: '405 Hangang-daero, Jung-gu, Seoul, South Korea',
                latlng: { lat: 37.5561, lng: 126.9719 },
                price: {sgd: 3, krw: 3000}
            },
            {
                name: 'Hongdae Shopping Street',
                address: '365-8 Seogyo-dong, Mapo-gu, Seoul, South Korea',
                latlng: { lat: 37.5532, lng: 126.9219 },
                price: {sgd: 25, krw: 25244.25}
            },
                ];
        
    
        window.initMap = initMap;
    </script>

    <!-- import scripts -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw6a6E_r_udr7CXLmLZ-6HspypPd9qvMU&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
    <!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw6a6E_r_udr7CXLmLZ-6HspypPd9qvMU&libraries=places&callback=initAutocomplete">
    </script> -->

    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <!-- sidebar js -->
    <script src="./templates/pages/sidebars.js"></script>
</body>
</html>