<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map interface testing for website</title>
    <!-- Axios -->
    <script src='https://unpkg.com/axios/dist/axios.js'></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- BOOTSTRAP -->
    <link href="./css/main.min.css" rel="stylesheet">
    <!-- ICONS LIBRARY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@next'></script>
    <!-- <link rel="stylesheet" href="./templates/"> -->
    <link rel="stylesheet" href="./templates/template.css">
    <!-- access firebase -->
    <script type='module' src="./map_js.js"></script>
    <style>
        /* 
        * Always set the map height explicitly to define the size of the div element
        * that contains the map. 
        */
        #map {
        height: 95%;
        width: 65%;
        }

        /* 
        * Optional: Makes the sample page fill the window. 
        */
        html,
        body {
        height: 100%;
        padding: 0;
        }
        .address{
            font-style: italic;
            }
            .description{
            text-align: justify;
            }
            .progress{
            height: 25px; 
            border-radius: 25px;
            border: 2px solid black;
            box-shadow: 0px 0px 10px lightskyblue;
            }
            .voting_buttons{
            display: flex;
            justify-content: center;
            padding-top: 10px;
            }
            .reject_btn{
            margin-right: 5px;
            }
            .vote_btn{
            margin-left: 5px;
            }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row sidebar-parent flex-nowrap">
            <div id="nav" class="col-auto sidebar-css">
                 <!-- SIDEBAR  -->
                <sidebar-member-phase2></sidebar-member-phase2>
            </div>
            
            <!-- whole site -->
            <!-- ALL OTHER CONTENT ACTIVITY COL-->
            <div class="col py-4" id="app">
                <div class="row">
                    <!-- pop up if create activity -->
                    <div :style="{display: d_create()}" class="col py-3">
                        <!-- create activity -->
                        <div class="container text-dark">
                            <h3 class="heading">Create an Activity</h3>
                            
                            <form>
                                <!-- PLACE  -->
                                <div class="row">
                                    <div class="col-7">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="autocomplete" placeholder="Start by typing a location here...">
                                            <label for="input_place">Start by typing a location here...</label>
                                        </div>
                                    </div>
                                    <!-- TAG -->
                                    <div class="col-5">
    
                                        <!-- vue for tag -->
                                        <div id="main2" class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text">#</span>
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="input_tag" placeholder="Add a Tag" list="list_all_tags" v-model="tag_input">
                                                    <label for="input">Add a Tag</label>
                                                </div>
                                            </div> 
                
                                            <!-- LIST OF CURRENT TAGS -->
                                            <datalist id="list_all_tags">
                                                <option v-for="tag of tags" :value="tag"></option>
                                                
                                            </datalist>
                                            
                                        
                                        </div>
                                    </div>
                                </div>
                                <!-- DESCRIPTION -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Add a Description" id="input_description" style="height: 100px"></textarea>
                                    <label for="input_description">Add a Description</label>
                                </div>
                
                                <!-- Currency converter -->
                                <div id="main">
                                        <!--  ENTER COST   -->
                                        <div class="row">
                                            <div class="col-5">
                                            <div class="row g-0">
                                                <div class="col-8">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="amount" v-on:change="calculate_to_from()">
                                                        <label for="input_place">Enter the Cost/person</label>
                                                    </div>
                                                </div>    
                
                
                                            <!-- DEFAULT FROM SGD -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="from">
                                                    <!-- <p>From</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/sg.png" alt="flag"> -->
                                                            <select class="form-select" id="floatingSelect" v-model="from" v-on:change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                            <!-- <label for="floatingSelect">From</label> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                
                                    <!-- CONVERTER ICON -->
                                    <div class="col-2">
                                        <div class="icon"><i class="fas fa-exchange-alt"></i></div>
                                    </div>
                
                                        <!-- AUTOFILLED BY API -->
                                    <div class="col-5">
                                        <div class="row g-0">
                                            <div class="col-8">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="converted_amount" @change="calculate_from_to()">
                                                    <label for="input_place">Enter the Cost/person</label>
                                                </div>   
                                            </div> 
                                                <!-- DEFAULT TO KRW -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="to">
                                                        <!-- <p>To</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/kr.png" alt="flag"> -->
                                                        <select class="form-select" id="floatingSelect" v-model="to" @change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                
                                    </div>
                                </div>
                
                                <!-- ATTACHMENTS  -->
                                <div class="form-floating mb-5">
                                    <div class="input-group mb-3" style="width: 50%;">
                                        <label class="input-group-text" for="inputGroupFile01">Add Attachment</label>
                                        <input type="file" class="form-control" id="inputGroupFile01">
                                    </div>
                                </div>
    
                                <!-- BACK & CREATE ACTIVITY BUTTON  -->
                                <div class="buttons">
                                    <!-- important to add type="button" so that the button doesn't submit and refresh the page -->
                                    <button type="button" class="btn back_button btn-main-bold-fixed" data-bs-toggle="modal" data-bs-target="#back_button_modal" >Back</button>
                                    <!-- should write data to db and update InfoWindow -->
                                    <button type="button" class="btn create_button btn-main-fixed" @click="create_true=false ">Create</button>
    
                                    <!-- Back Button Modal -->
                                    <div class="modal fade" id="back_button_modal" tabindex="-1" aria-labelledby="back_button_modal_label1" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="ModalLabel">Confirm Navigation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure you want to leave this page? Any unsaved changes will be lost. 
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal" >Close</button>
                                            <button type="button" class="btn btn-main-fixed" data-bs-dismiss="modal" @click="create_true=false, delete_marker(marker_id), autocomplete.set('place', null);">Confirm</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                
                
                                </div>
                
                            </form>
                        </div>
                    </div>
                    <!-- pop up if edit activity -->
                    <div :style="{display: d_edit()}" class="col py-3">
                        <div class="container text-dark">
                            <h3 class="heading">Edit Activity</h3>
                            <form>
                                <!-- should read data from db -->
                                <!-- PLACE  -->
                                <div class="row">
                                    <div class="col-7">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="input_place" placeholder="Add a Place">
                                            <label for="input_place">Add a Place</label>
                                        </div>
                                    </div>
                                    <!-- TAG -->
                                    <div class="col-5">
                                        <!-- vue for tag -->
                                        <div id="main2" class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text">#</span>
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="input_tag" placeholder="Add a Tag" list="list_all_tags" v-model="tag_input">
                                                    <label for="input">Add a Tag</label>
                                                </div>
                                            </div> 
                
                                            <!-- LIST OF CURRENT TAGS -->
                                            <datalist id="list_all_tags">
                                                <option v-for="tag of tags" :value="tag"></option>
                
                                            </datalist>
                                            
                                        </div>
                                    </div>
                                </div>
    
                                <!-- DESCRIPTION -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Add a Description" id="input_description" style="height: 100px"></textarea>
                                    <label for="input_description">Add a Description</label>
                                </div>
                
                                <!-- Currency converter -->
                                <div id="main">
                                        <!--  ENTER COST   -->
                                    <div class="row">
                                        <div class="col-5">
                                        <div class="row g-0">
                                            <div class="col-8">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="amount" v-on:change="calculate_to_from()">
                                                    <label for="input_place">Enter the Cost/person</label>
                                                </div>
                                            </div>    
                
                
                                            <!-- DEFAULT FROM SGD -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="from">
                                                    <!-- <p>From</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/sg.png" alt="flag"> -->
                                                            <select class="form-select" id="floatingSelect" v-model="from" v-on:change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                            <!-- <label for="floatingSelect">From</label> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                
                                    <!-- CONVERTER ICON -->
                                    <div class="col-2">
                                        <div class="icon"><i class="fas fa-exchange-alt"></i></div>
                                    </div>
                
                                        <!-- AUTOFILLED BY API -->
                                    <div class="col-5">
                                        <div class="row g-0">
                                            <div class="col-8">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="input_place" placeholder="Add a Place" v-model="converted_amount" @change="calculate_from_to()">
                                                    <label for="input_place">Enter the Cost/person</label>
                                                </div>   
                                            </div> 
                                                <!-- DEFAULT TO KRW -->
                                            <div class="col-4">
                                                <div class="drop-list form-floating">
                                                    <div class="to">
                                                        <!-- <p>To</p> -->
                                                        <div class="select-box">
                                                            <!-- <img src="https://flagcdn.com/48x36/kr.png" alt="flag"> -->
                                                        <select class="form-select" id="floatingSelect" v-model="to" @change="calculate_to_from()" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                
                                </div>
                                </div>
                
                                <!-- ATTACHMENTS  -->
                                <div class="form-floating mb-5">
                                    <div class="input-group mb-3" style="width: 50%;">
                                        <label class="input-group-text" for="inputGroupFile01">Add Attachment</label>
                                        <input type="file" class="form-control" id="inputGroupFile01">
                                    </div>
                                </div>
                
                                <!-- DELETE AND CONFIRM ACTIVITY BUTTON  -->
                                <div class="buttons">                         
                                    <button type="button" class="btn btn-main-bold-fixed" data-bs-toggle="modal" data-bs-target="#del_button_modal">Delete</button>
                                    <!-- should write data to db and update infoWindow -->
                                    <button type="button" class="btn save_button btn-main-fixed" @click="edit_true=false,map_width='90%'">Save</button>
    
                                    <!-- Back Button Modal -->
                                    <div class="modal fade" id="del_button_modal" tabindex="-1" aria-labelledby="del_button_modal_label1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="ModalLabel">Delete Activity</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                Are you sure you want to delete activity?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal" >Close</button>
                                                <button type="button" class="btn btn-main-fixed" data-bs-dismiss="modal" @click="edit_true=false, delete_marker(marker_id)">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                
                                </div>
                                
                            </form>
                            
                        </div>
                    </div>
                
    
                    <!-- map interface MAP COL -->
                    <div class="col" style="width: 90vw; height: 90vh">
                        <!-- map details -->
                        <div id="map"></div><button style="position: absolute; bottom: 0px; right: 70px;" class="btn btn-main-fixed" @click="create_true=true,edit_true=false">Create Activity</button>
                    </div>  
                    
                </div>
                
            </div>
        </div>
    </div>

    <div id="my_map"></div>
    
    <!-- import scripts -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT5JFriHtLwMDi3C2jZUKSDiakvePwY6g&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>

    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <!-- sidebar js -->
    <script src="./templates/pages/sidebars.js"></script>

    <script>
        
        // changes vue.js values for editing pop up
        // access vm from module script and open up edit view
        async function set_edit(obj) {
            var vm_vue = await import("./map_js.js")
            
            if (vm_vue.vm.$data.edit_true == false) {
                
                vm_vue.vm.$data.edit_true = true
                vm_vue.vm.$data.create_true = false
                vm_vue.vm.$data.marker_id = obj.querySelector("div[id='get_marker_id']").innerText
                
            } else {
                vm_vue.vm.$data.edit_true = false
                vm_vue.vm.$data.create_true = true
            }

        } 
    </script>

    
</body>
</html>