<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local css -->
    <link rel="stylesheet" href="template.css">

    <!-- bootstrap css -->
    <link href="../css/main.min.css" rel="stylesheet">

    <title>WAD Travels Project</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"><b>The JAWKS-7</b></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">

            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="d-sm-none nav-link" href="#"><button type="button" class="btn btn-outline-info">+ Plan New Trip</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Trips <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="d-sm-none nav-link" href="#">Account</a>
                </li>
                
            </ul>

            <button type="button" class="d-none d-sm-block btn btn-info">+ Plan New Trip</button> &nbsp;&nbsp;
            

            <a class="d-none d-sm-block" href="#">
                <img src="https://img.icons8.com/small/32/000000/user-male-circle.png"/>
            </a>

        </div>
    </nav>

    <div class="p-3 row d-flex flex-wrap justify-content-center">
        
        <div class="card border-info text-center mx-2 my-2 col-md-6 col-sm-6 p-1" style="width: 18rem">
            <img src="images/seoul.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Dec22 Seoul Trip!</h5>
              <a href="#" class="btn btn-success">Edit Trip</a>
            </div>
            <div class="card-footer text-muted">
              Last edited: 2 days ago
            </div>
          </div>

          <div class="card border-info text-center mx-2 my-2 col-md-6 col-sm-6 p-1" style="width: 18rem">
            <img src="images/NYC.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">June23 New York City</h5>
              <a href="#" class="btn btn-success">Edit Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 3 weeks ago
            </div>
          </div>

          <div class="card border-info text-center mx-2 my-2 col-md-6 col-sm-6 p-1" style="width: 18rem">
            <img src="images/interlaken.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">June19 Interlaken</h5>
              <a href="#" class="btn btn-warning">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 3 years ago
            </div>
          </div>
   

          
        
        </div>


    </div>



    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>

</body>
</html>
