<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local css -->
    <link rel="stylesheet" href="../template.css">

    <!-- bootstrap css -->
    <link href="../../css/main.min.css" rel="stylesheet">

    <title>WAD Travels Project</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row sidebar-parent flex-nowrap">
            <div id="nav" class="col-2 sidebar-css">
                 <!-- SIDEBAR  -->
                <sidebar-phase3></sidebar-phase3>
            </div>

            <!-- rest of site -->
            <div class="col p-4">
                <div class="row">
                    <div class="col py-3">
                        <h3>Phase 3 sidebar for KB</h3>
                        <p class="lead">
                            Content content content
                        </p>

                        <ul class="list-unstyled">
                            <li><h5>Hola amigos</h5> walaala</li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, vitae rem, deserunt veniam quibusdam dolore ad beatae dignissimos dolores nesciunt quia minus velit animi. At tempore omnis eaque aliquam unde?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore explicabo quam error! Ad iusto quae eos hic quam facilis dolorem nemo cumque ea, odit fugiat, assumenda culpa natus similique praesentium?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi fugiat blanditiis alias assumenda soluta perferendis dolores nam provident nesciunt temporibus et quo, commodi, placeat adipisci, impedit excepturi! Nemo, id reprehenderit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil exercitationem doloremque pariatur. Amet tempore cum unde consectetur ipsa hic culpa animi fuga rem aliquam, minima quisquam vitae non eaque saepe!Lorem
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde corporis sint beatae aliquid magni quae nam ab accusantium doloribus illum sit accusamus, officia veniam officiis vero est optio itaque? Nemo!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis rem doloribus illum illo mollitia earum placeat doloremque incidunt iste, voluptate similique, natus magnam dolorum ut. Dolore et incidunt reiciendis quia?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum rem delectus, molestiae incidunt soluta vel quod ipsa error eius cupiditate doloremque accusantium expedita reiciendis fugiat pariatur quos placeat. Officiis, nesciunt!
                        </ul>
                    </div>

                <div class="col">Some other content</div>
        
            <!-- Content end -->



                </div>
            </div>
        </div>
    </div>


    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <!-- Vue.js Version 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Refer to my own external JS -->
    <script src="sidebars.js"></script>
</body>
</html>
