<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local css -->
    <link rel="stylesheet" href="../template.css">

    <!-- bootstrap css -->
    <link href="../../css/main.min.css" rel="stylesheet">

    <title>WAD Travels Project</title>

    <style>
      .cardstyle{
        border-color: #badeee;
        text-align: center;
        margin: 7px 12px;
        padding: 4px 4px;
        width: 18rem;
      }
    </style>
</head>
<body class="bg-dark">

      <div id="nav" class="row sticky-top">
          <homepage-navbar></homepage-navbar>
      </div>

      <!-- header -->
      <div class="row position-relative image_container_homepage">
        <img src="../../images/home_page/main_images/main_page_bg_5.jpg" class="homepage-main-img px-0">
        <div class="text-center mt-md-4 mt-3 position-absolute text-light" id="animated-text">Plan a trip</div>
      </div>

      <!-- body -->
      <div class="container-fluid">
        <div class="row p-3 d-flex justify-content-center">
          
          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/seoul.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Dec22 Seoul Trip!</h5>
              <button href="#" class="btn btn-main-bold">Edit Trip</a>
            </div>
            <div class="card-footer text-muted">
              Last edited: 2 days ago
            </div>
          </div>

          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/NYC.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">June23 New York City</h5>
              <button href="#" class="btn btn-main-bold">Edit Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 3 weeks ago
            </div>
          </div>
    
          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/interlaken.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">June21 Interlaken</h5>
              <button href="#" class="btn btn-fade">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 1 year ago
            </div>
          </div>

          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/kyoto.jpeg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Dec20 Kyoto</h5>
              <button href="#" class="btn btn-fade">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 2 years ago
            </div>
          </div>

          <div class="card cardstyle " >
            <img src="../../images/home_page/trips_imgs/edinburgh.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Aug19 Edinburgh</h5>
              <button href="#" class="btn btn-fade">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 3 years ago
            </div>
          </div>

          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/budapest.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Jan19 Budapest</h5>
              <button href="#" class="btn btn-fade">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 3 years ago
            </div>
          </div>

          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/chang_mai.jpeg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Sep18 Chiang Mai</h5>
              <button href="#" class="btn btn-fade">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 4 years ago
            </div>
          </div>

          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/bergen.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Feb18 Bergen</h5>
              <button href="#" class="btn btn-fade">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 4 years ago
            </div>
          </div>

          <div class="card cardstyle" >
            <img src="../../images/home_page/trips_imgs/venice.jpg" class="card-img-top" height="200px">
            <div class="card-body">
              <h5 class="card-title">Dec17 Venice</h5>
              <button href="#" class="btn btn-fade">View Trip</a>
            </div>
            <div class="card-footer text-muted">
                Last edited: 5 years ago
            </div>
          </div>

        </div>
      </div>


    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <!-- Vue.js Version 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Refer to my own external JS -->
    <script src="homepageNavBar.js"></script>

    <!-- js import -->
    <script src="./trips-homepage.js"></script>
</body>
</html>