<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local css -->
    <link rel="stylesheet" href="../../template.css">

    <!-- bootstrap css -->
    <link href="../../../css/main.min.css" rel="stylesheet">
   
    <!-- external js file -->
    <script type="module" src="signup_login.js"></script>   
    
    <!-- vue script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Sign Up Page</title>

    <style>
        #firebaseui-auth-container {
            position:absolute;
            top:70%
        }
      </style>
</head>
<body id="signuplogin">

    <div class="container-fluid">
        <div class="row vh-100 position-relative">
            <!-- RIGHT COLUMN (IMG) -->
            <div class="col-12 p-0 position-absolute" style="z-index: -1;">
                <div id="carouselExampleInterval" class="carousel slide carousel-fade d-flex justify-content-center align-items-center vh-100" data-bs-ride="carousel">
                    <div class="carousel-inner login-page-carousel-img">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="../../../images/home_page/main_images/main_page_bg_1.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="../../../images/home_page/main_images/main_page_bg_2.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="../../../images/home_page/main_images/main_page_bg_3.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="../../../images/home_page/main_images/main_page_bg_4.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="../../../images/home_page/main_images/main_page_bg_5.jpg" class="d-block w-100">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- LEFT COLUMN (FORM) -->
            <div class="col-sm-8 col-md-6 col-lg-5 px-4 blurred-minor-2 pb-5" style="overflow-y: scroll; height: 100%;">
                <!-- LOGO GOES HERE -->
                <div class="mt-3">
                    <img src="../../../Logo.png" width="120">
                </div>

                <h1 class="fw-bold text-primary mt-4">Sign Up Now</h1>

                <!-- SIGN UP FORM -->
                <form class="mt-5 px-2">
                    <div class="row gy-3">
                        <!-- first name -->
                        <div class="form-floating text-light col-md-6 ms-auto gx-1">
                            <input type="text" class="form-control blurred-minor-gradient-login text-light" v-model="first_name" name="first_name" placeholder=" " id="first_name">
                            <label for="first_name">First name</label>
                        </div>

                        <!-- last name -->
                        <div class="form-floating text-light col-md-6 ms-auto gx-1">
                            <input type="text" class="form-control blurred-minor-gradient-login text-light" v-model="last_name" name="last_name" placeholder=" " id="last_name">
                            <label for="last_name">Last name</label>
                        </div>

                        <!-- username -->
                        <div class="form-floating text-light col-12 ms-auto gx-1">
                            <input type="username" class="form-control blurred-minor-gradient-login text-light" v-model="username" name="username" placeholder=" " id="username">
                            <label for="username">Username</label>
                        </div>

                        <!-- email -->
                        <div class="form-floating text-light col-12 ms-auto gx-1">
                            <input type="email" class="form-control blurred-minor-gradient-login text-light" v-model="signup_email" name="signup_email" placeholder=" " id="email">
                            <label for="username"><i class="fa-solid fa-envelope fa-sm"></i> Email</label>
                        </div>

                        <!-- password -->
                        <div class="form-floating text-light col-12 ms-auto gx-1">
                            <input type="password" class="form-control blurred-minor-gradient-login text-light" v-model="password" name="signup_password" placeholder=" " id="pwd">
                            <label for="password"><i class="fas fa-key fa-sm"></i> Password</label>
                            <small id="passwordHelpInline" class="text-muted">
                                Must be 6-20 characters long
                            </small>
                        </div>


                        <!-- error message -->
                        <div class="text-danger" id="error" style="display:none">
                        </div>

                        <br>

                        <!-- redirect to login page if alr have an account -->
                        <div class="d-flex justify-content-center links">
                            Already have an account?&nbsp<a href="login_page.html">Log In</a>
                        </div>

                        <br>

                        <!-- submit button -->
                        <div class="d-grid">
                            <button type="button" @click="sign_up()" class="btn btn-main mt-4">Sign Up</button>
                        </div>

                        <div class="text-danger" id="error" style="display:none;">
                        </div>
                    </div>
                </form>

                <!-- NEW ACCOUNT SIGN UP -->
                <div class="card-footer text-muted mt-4">
                    <div class="d-flex justify-content-center">
                        <a href="reset_password_email_page.html" class="mt-2">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>



