<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Create Activities</title>
        <!-- BOOTSTRAP -->
        <link href="../../css/main.min.css" rel="stylesheet">
        

        <!-- LOCAL CSS  -->
        <link rel="stylesheet" href="../template.css">

        <!-- VUE -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>

        
        
        <h4 class="m-5">Card Sample</h4>

        <!-- FIRST ITEM (SAMPLE 1) -->
        <!-- COPY FROM HERE -->
        <div id="main">
            <div class="container mb-3" v-for="(location, index) of locations">
                <div class="accordion" id="accordionFlushExample">
                    <div class="accordion-item" >
                
                                <!-- ACCORDION TITLE -->
                                    <!-- NEED TO CHANGE ACCORD. -->
                                <h6 class="accordion-header position-relative" :id=" 'flush-heading' + index">
                                    <!-- CHECKBOX -->
                                    <input class="form-check-input input-checkbox collapsed" type="checkbox" name="flexRadioDefault" :id="'flexRadioDefault' + index" style="position: absolute; top: 14px; left: 20px; z-index: 9;">
                                    <!-- PLACE + TAG -->
                                        <!-- NEED TO CHANGE ACCORD. -->
                                    <button class="accordion-button collapsed ps-5 fs-6" type="button" data-bs-toggle="collapse" :data-bs-target=" '#flush-collapse' + index " aria-expanded="false" :aria-controls=" 'flush-collapse' + index">
                                        {{ location.name}}
                                        <span class="badge rounded-pill text-bg-warning ms-1 badge-sm">#{{ location.tag }}</span>
                                    </button>
                                </h6>
                
                                <!-- ACCORDION BODY -->
                                    <!-- NEED TO CHANGE ACCORD. -->
                                <div :id=" 'flush-collapse' + index" class="accordion-collapse collapse" :aria-labelledby=" 'flush-heading' + index" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="container p-0">
                                            <div class="row">
                                                <div class = "col-8">
                                                    <h6>{{ location.price.sgd }} SGD/per person</h6>
                                                    <p class="description" style="text-align: justify;">
                                                        Description included by user. 
                                                        {{ location.description }}
                                                    </p>
                                                </div>
                                                
                                                <!-- PROGRESS BAR AND VOTING BUTTONS -->
                                                <div class="col-4" >
                                                    <p class="pt-3">Current Votes: </p>
                                                        <div class="progress">
                                                            <!-- VOTED YES -->
                                                            <div :id="'progress_yes' + index" class="progress-bar bg-success" role="progressbar" :aria-label=" 'voted_yes_percentage' + index" :style="{width: location.votes_percentage.yes + '%' }" v-bind:aria-valuenow="location.votes_percentage.yes" aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-placement="top"  :data-bs-title="location.votes_num.yes" data-container="body"></div>
                
                                                            <!-- VOTED NO -->
                                                            <div :id="'progress_no' + index" class="progress-bar bg-danger" role="progressbar" :aria-label=" 'voted_no_percentage' + index" :style="{width: location.votes_percentage.no + '%' }" v-bind:aria-valuenow="location.votes_percentage.no" aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-placement="top" :data-bs-title="location.votes_num.no" data-container="body"></div>
                                    
                                                            <!--  VOTED MAYBE   -->
                                                            <div :id="'progress_maybe' + index" class="progress-bar bg-secondary" role="progressbar" :aria-label=" 'yet_to_vote_percentage' + index" :style="{width: location.votes_percentage.yet_to_vote + '%' }" v-bind:aria-valuenow="location.votes_percentage.yet_to_vote" aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-placement="top" :data-bs-title="location.votes_num.yet_to_vote" data-container="body"></div>
                                                        </div>
                                                </div>

                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div> 
        


    
        <!-- BOOTSTRAP JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="script.js"></script>
    </body>
</html>