<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local css -->
    <link rel="stylesheet" href="../template.css">

    <!-- bootstrap css -->
    <link href="../../css/main.min.css" rel="stylesheet">

    <!-- table css -->
    <link rel="stylesheet" href="style.css">

    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<!-- need firebase function READ -->
    <title>Select Activities Page</title>
</head>
<body>
    <div id="main">
    <div class="container-fluid">
        <div class="row flex-nowrap" >
            <div id="nav" class="col-auto sidebar-css p-0">
                <!-- SIDEBAR  -->
               <select-activity-sidebar></select-activity-sidebar>
           </div>

            <!-- rest of site -->
            <div class="col bg-mild" >
                <div class="row">
                    <!-- <div class="col"> -->

                    <!-- HEADER -->
                    <div class="pt-5">
                        <h1> Trip to Seoul, Korea </h1>
                        <h5 style="font-style:italic;"> 1 December 2022 - 10 December 2022</h5>
                        <p>Trip leader, please select the activities </p>
                        <!-- Filter Tag -->
                        <p>Filter by:
                        <select v-model="filter_tag" @change="sort_by">
                            <option>Tag</option>
                            <option>Votes</option>
                            <option>Cost</option>
                        </select>
                        {{filter_tag}}
                        </p>
                    

                        <!-- Table  -->
                        <div class="content">
                            <div class="container">
                                <div class="table-responsive custom-table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                        <!-- TABLE HEADER -->
                                        <tr>  
                                            <th scope="col">
                                                <label class="">
                                                <input type="checkbox" @change="select_all()"/>
                                                <!-- @change="select_all()" -->
                                                <div class=""></div>
                                                </label>
                                            </th>
                                            
                                            <th scope="col">Activity</th>
                                            <th scope="col" style="text-align: center;">#Tag</th>
                                            <th scope="col" style="text-align: center;">Voted Yes</th>
                                            <th scope="col" style="text-align: center;">Cost/person</th>
                                        </tr>
                                    </thead>
                                        <!-- TABLE BODY -->
                                    <tbody>
                                        <template v-for="(location,index) in existing_locations" v-if="filter_tag == '' ">
                                            <tr scope="row">
                                                <th scope="row">
                                                <input type="checkbox" name="atv" :value=location v-model="selected_activities" @change="calculate_spending()"/>
                                                <!-- @change="calculate_spending()"  -->
                                                </th>
                                                <td>
                                                    {{ location.name }}
                                                </td>
                                                <td style="text-align: center;"> 
                                                    {{ location.tag }}
                                                </td>
                                                <td style="text-align: center;">
                                                    {{ calculate_votes_percentage(location.votes) }}%
                                                </td>
                                                <td style="text-align: center;">
                                                    ${{ location.price.sgd }}
                                                </td>
                                            </tr>
                                                    <!-- SPACE -->
                                                <tr class="spacer"><td colspan="100"></td></tr>
                                        </template>



                                        <template v-for="(location,index) in filtered_locations" v-else>
                                            <tr scope="row">
                                                <th scope="row">
                                                <input type="checkbox" name="atv" :value=location v-model="selected_activities" @change="calculate_spending()"/>
                                                <!-- @change="calculate_spending()"  -->
                                                </th>
                                                <td>
                                                    {{ location.name }}
                                                </td>
                                                <td style="text-align: center;"> 
                                                    {{ location.tag }}
                                                </td>
                                                <td style="text-align: center;">
                                                    {{ calculate_votes_percentage(location.votes) }}%
                                                </td>
                                                <td style="text-align: center;">
                                                    ${{ location.price.sgd }}
                                                </td>
                                            </tr>
                                                    <!-- SPACE -->
                                                <tr class="spacer"><td colspan="100"></td></tr>
                                        </template>


                                        </tbody>
                                        </table>
                                </div>




                            </div>
                            <!-- {{ selected_activities }} -->
                        </div>

                    </div>
                </div>
                
                <footer class="bg-mild d-flex justify-content-between sticky-bottom py-3 " >

                        <h3>Total Spending: {{ spending }} SGD</h3>
                        
 
                        <button type="button" class="btn btn-main-fixed" onclick="location.href='http://kengboonang.github.io/WADBrothers.github.io/map_phase3.html'" @click="create_update_data()">Confirm</button>
                        <!--  -->
                </footer>
            </div>
            </div>
        </div>
    </div>
    </div>
    


    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script type="module" src="script.js"></script>

    <!-- Refer to sidebar JS -->
    <script src="../pages/sidebars.js"></script>

</body>
</html>
