<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local css -->
    <link rel="stylesheet" href="../template.css">

    <!-- bootstrap css -->
    <link href="../../css/main.min.css" rel="stylesheet">

    <!-- table css -->
    <link rel="stylesheet" href="style.css">

    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- ICONS LIBRARY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <style>
        body{
            background-image: url("../../images/home_page/main_images/main_page_bg_1.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
        
        .modal-backdrop {
            display: none;
        }
        .modal-content {
            z-index: 5000 !important;
        }
    </style>
    <title>Select Activities Page</title>
</head>
<body>
    <div id="main">
    <div class="container-fluid">
        <div class="row flex-nowrap" >
            <div id="nav" class="col-auto sidebar-css p-0 blurred-minor-no-bd-filter">
                <!-- SIDEBAR  -->
               <select-activity-sidebar :comp_username="username" :comp_user_pic="user_pic" v-on:btnclick="sign_out"></select-activity-sidebar>
           </div>


            <!-- TRIP DETAILS -->
            <div class="trip-title-top-md d-none d-md-block text-dark text-center">
                <h5>{{get_trip_name(trip_id)}} ({{trip_details.country}})</h5>
                <p>{{trip_details.duration}}</p>
            </div>
            
            <!-- rest of site -->
            <div class="col text-light" style="overflow: hidden;">
                <!-- TRIP DETAILS (SM) -->
                <div class="row d-block d-md-none text-center blurred-minor-no-bd-filter text-black">
                    <h5 class="pt-3">{{get_trip_name(trip_id)}} ({{trip_details.country}})</h5>
                    <p class="m-0 pb-3">{{trip_details.duration}}</p>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <h3 class="ms-md-3 mt-4 text-md-start text-center">Trip leader, please select the confirmed activities </h3>
                            <!-- Filter Tag -->
                            <p class="ms-md-3">Filter by:
                                <select v-model="filter_tag" @change="sort_by">
                                    <option>Tag</option>
                                    <option>Votes</option>
                                    <option>Cost</option>
                                </select>
                            </p>
                    </div>
                </div>

                
                <div class="row">
                    <div>
                        <!-- Table  -->
                        <div class="content">
                            <div class="container">
                                <div class="table-responsive custom-table-responsive">
                                <table class="table custom-table mb-5">
                                    <thead>
                                        <!-- TABLE HEADER -->
                                        <tr>  
                                            <th scope="col">
                                                <!-- <label class=""> -->
                                                <input type="checkbox" @change="select_all()"/>
                                                <!-- @change="select_all()" -->
                                                <!-- <div class=""></div> -->
                                                </label>
                                            </th>
                                            
                                            <th scope="col">Activity</th>
                                            <th scope="col" style="text-align: center;">#Tag</th>
                                            <th scope="col" style="text-align: center;">Voted Yes</th>
                                            <th scope="col" style="text-align: center;">Cost/person</th>
                                        </tr>
                                    </thead>
                                        <!-- TABLE BODY -->
                                    <tbody>
                                        <template v-for="(location,index) in existing_locations" v-if="filter_tag == '' ">
                                            <tr scope="row" class="blurred-minor-no-bd-filter">
                                                <th scope="row">
                                                <input type="checkbox" name="atv" :value=location v-model="selected_activities" @change="calculate_spending()"/>
                                                <!-- @change="calculate_spending()"  -->
                                                </th>
                                                <td>
                                                    {{ location.name }}
                                                </td>
                                                <td style="text-align: center;"> 
                                                    {{ location.tag }}
                                                </td>
                                                <td style="text-align: center;">
                                                    {{ calculate_votes_percentage(location.votes) }}%
                                                </td>
                                                <td style="text-align: center;">
                                                    ${{ location.price.sgd }}
                                                </td>
                                            </tr>
                                                    <!-- SPACE -->
                                                <tr class="spacer"><td colspan="100"></td></tr>
                                        </template>



                                        <template v-for="(location,index) in filtered_locations" v-else>
                                            <tr scope="row" class="blurred-minor-no-bd-filter">
                                                <th scope="row">
                                                <input type="checkbox" name="atv" :value=location v-model="selected_activities" @change="calculate_spending()"/>
                                                <!-- @change="calculate_spending()"  -->
                                                </th>
                                                <td>
                                                    {{ location.name }}
                                                </td>
                                                <td style="text-align: center;"> 
                                                    {{ location.tag }}
                                                </td>
                                                <td style="text-align: center;">
                                                    {{ calculate_votes_percentage(location.votes) }}%
                                                </td>
                                                <td style="text-align: center;">
                                                    ${{ location.price.sgd }}
                                                </td>
                                            </tr>
                                                    <!-- SPACE -->
                                                <tr class="spacer"><td colspan="100"></td></tr>
                                        </template>


                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SPENDING -->
                <div class="spending-bottom-md">
                    <h5><button type="button" class="btn btn-main-mild-fixed my-3 mx-1" data-bs-toggle="modal" data-bs-target="#tutorial2Modal">
                        <i class="fa-regular fa-circle-question"></i>
                    </button>
                    <i class="fa-solid fa-money-bill fa-sm"></i> Total Spending: {{ spending }} SGD &nbsp &nbsp<button type="button" class="btn btn-main-fixed" data-bs-toggle="modal" data-bs-target="#confirm_next_phase_modal" >Confirm</button></h5> 

                    <!-- confirm next phase modal -->
                    <div class="modal fade" id="confirm_next_phase_modal" tabindex="-1" aria-labelledby="confirm_next_phase_modal_label1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="ModalLabel">Proceeding to next phase</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Are you sure you want to confirm the selected activities?
                                </div>
                                <div class="modal-footer" >
                                <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal" >Close</button>
                                <button type="button" class="btn btn-main-fixed" data-bs-dismiss="modal" @click="create_update_data()" onclick="location.href='http://kengboonang.github.io/WADBrothers.github.io/map_phase3.html'">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!-- <footer class="bg-mild d-flex justify-content-between sticky-bottom py-3 " >

                        <h3>Total Spending: {{ spending }} SGD</h3>
                        
 
                        <button type="button" class="btn btn-main-fixed" onclick="location.href='http://kengboonang.github.io/WADBrothers.github.io/map_phase3.html'" @click="create_update_data()">Confirm</button>
                        
                </footer> -->

            <!-- Tutorial Modal -->
            <div class="modal fade" id="tutorial2Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">Plan your Itinerary!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mx-auto text-dark">
                        <p>1. Filter your activities </p>
                        <p>2. Select activities of your choice.</p>
                        <p>3. Confirm activities to start planning Itinerary</p>
                        
                        <video loop muted autoplay style="width: 100%; height: auto;">
                            <source src="../../Select_Activities_tutorial_video.mp4">
                        </video>
                    </div>
                    <div class="modal-footer text-dark">
                    <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>

    

        <!-- Flatpickr JS -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <!-- Refer to sidebar JS -->
    <script type="module" src="../pages/sidebars.js"></script>
    
    <script type="module" src="script.js"></script>


</body>
</html>
