<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local css -->
    <link rel="stylesheet" href="../template.css">

    <!-- bootstrap css -->
    <link href="../../css/main.min.css" rel="stylesheet">

    <!-- Flatpickr CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- polyfill -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <title>Accomodations</title>

    <style>
        body{
            background-image: url("../../images/home_page/main_images/main_page_bg_1.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="accommodation_app">
        <div class="row sidebar-parent flex-nowrap" @click="update_local_vmodel()" @keydown="update_local_vmodel()">
            <div id="nav" class="col-auto sidebar-css p-0 blurred-minor-2">
                <!-- SIDEBAR -->
                <sidebar-phase3></sidebar-phase3>
            </div>

            <!-- ALL OTHER CONTENT -->
            <div class="col py-md-3 py-0">
                <!-- TRIP DETAILS (SM) -->
                <div class="row d-block d-md-none text-center blurred">
                    <h5 class="pt-3">Name of Trip (Trip to Seoul, Korea)</h5>
                    <p class="m-0 pb-3">1 December 2022 - 10 December 2022</p>
                </div>

                <!-- CREATE NEW ACCOMMODATION BUTTON -->
                <div class="row justify-content-start mb-4 mt-3">
                    <div class="col-md-3 col-lg-2 d-flex justify-content-center">
                        <button type="button" class="btn btn-main dropshadow-btn-main" @click="enable_create_mode()" :disabled="create_new_accom || edit_existing_accom">Create New</button>
                    </div>
                </div>

                <!-- CREATE NEW ACCOM FORM -->
                <div class="container-md text-dark rounded-4 py-3 px-5 mb-3 position-relative blurred-minor-no-bd-filter" v-if="create_new_accom">
                    <form action="#">
                        <!-- title -->
                        <div class="row justify-content-center text-center">
                            <h2><i class="fa-solid fa-hotel"></i> New Accommodation</h2>
                        </div>
                
                        <!-- accom name & local -->
                        <div class="row justify-content-center my-4">
                
                            <!-- accom name -->
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="accom_name" placeholder=" " v-model="accom_name">
                                    <label for="accom_name"><i class="fa-solid fa-hotel"></i> Accommodation Name</label>
                                </div>
                            </div>

                            <!-- KENGBOONHELPP -->
                            <!-- accom local -->
                            <div class="col-sm-6 mt-3 mt-sm-0">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="accom_name" placeholder=" " v-model="accom_address" id="autocomplete" @click="this.update_local=true">
                                    <label for="accom_address"><i class="fa-solid fa-location-dot"></i> Address</label>
                                </div>
                            </div>
                        </div>

                        <!-- Check In & Check Out -->
                        <div class="row justify-content-center mb-5 my-md-5 mt-4">
                            <!-- check in text -->
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <h4 class="fw-bold">Check In</h4>
                            </div>

                            <!-- check in input -->
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="datetime-local" placeholder=" " v-model.lazy="checkin_datetime" id="checkin_datetime_i9w2">
                                    <label for="checkin_datetime_i9w2"><i class="fa-regular fa-calendar"></i> Check In Date & Time</label>
                                </div>
                            </div>

                            <!-- check out text -->
                            <div class="col-md-2 d-flex justify-content-center align-items-center mt-3 mt-md-0">
                                <h4 class="fw-bold">Check Out</h4>
                            </div>

                            <!-- check out input -->
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="datetime-local" placeholder=" " v-model.lazy="checkout_datetime" id="checkout_datetime_i9w2">
                                    <label for="checkout_datetime_i9w2"><i class="fa-regular fa-calendar"></i> Check Out Date & Time</label>
                                </div>
                            </div>
                        </div>
                
                        <!-- price & occupancy -->
                        <div class="row my-4">
                            <!-- Cost -->
                            <div class="col-md-4 col-sm-4 col-7">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="currency" placeholder=" " v-model="price">
                                    <label for="currency"><i class="fa-solid fa-dollar-sign"></i> Enter the Cost/person</label>
                                </div>
                            </div>
                
                            <!-- Currency -->
                            <div class="col-md-3 col-sm-4 col-5">
                                <div class="drop-list form-floating">
                                    <div class="from">
                                    <!-- <p>From</p> -->
                                        <div class="select-box">
                                            <select class="form-select" id="floatingSelect" v-model="currency" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Max occupancy -->
                            <div class="col-md-5 col-sm-4">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="max_occupancy" placeholder=" " v-model="max_occupancy">
                                    <label for="max_occupancy"><i class="fa-solid fa-people-group"></i> Max Occupancy</label>
                                </div>
                            </div>
                        </div>

                        <!-- attachments -->
                        <div class="row mb-4 mt-5 mt-md-4 mb-5 mb-md-4">
                            <div class="col-lg-6 col-md-8">
                                <!-- attachments -->
                                <div class="form-floating">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text text-light bg-bold fw-semibold" for="inputGroupFile01">Add Attachment</label>
                                        <input type="file" class="form-control" id="inputGroupFile01">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5 justify-content-center" v-if="error_message.trim()!=''">
                            <div class="alert alert-danger text-center" role="alert">
                                {{error_message}}
                            </div>
                        </div>

                        <!-- save and cancel buttons -->
                        <div class="save-btn-div-flight-page">
                            <button type="button" class="btn btn-fade me-3" @click="clear_form()">Cancel</button>
                            <button type="button" class="btn btn-main-fixed" @click="save_new_accom()">Save</button>
                        </div>
                    </form>
                </div>

                <!-- EACH LOADED ACCOM -->
                <div v-for="e_accom_obj of accom_obj_arr">
                    <!-- DISPLAY STATIC -->
                    <div class="container-md text-dark rounded-4 py-3 mb-3 position-relative blurred-minor-no-bd-filter" v-if="!e_accom_obj.edit_mode">
                        <form action="#">
                            <!-- title & address + check in & out -->
                            <div class="row justify-content-center">
                                <!-- accom name and local -->
                                <div class="col-md-5 text-center text-md-start">
                                    <!-- accom title -->
                                    <div class="row">
                                        <h2>{{e_accom_obj.accom_name}}</h2>
                                    </div>
                                    
                                    <!-- accom name & local -->
                                    <div class="row">
                                        <p><i class="fa-solid fa-location-dot"></i> {{e_accom_obj.accom_address}}</p>
                                    </div>
                                </div>
                
                                <!-- check in & out -->
                                <div class="col-md-6">
                                    <!-- check in -->
                                    <div class="row justify-content-center">
                                        <!-- check in text -->
                                        <div class="col-5 text-end">
                                            <h4 class="fw-bold my-auto">Check In</h4>
                                        </div>
                
                                        <!-- check in datetime -->
                                        <div class="col-7">
                                            <p class="my-auto">{{convert_datetime_readable(e_accom_obj.checkin_datetime)}}</p>
                                        </div>
                                    </div>
                
                                    <!-- check out -->
                                    <div class="row justify-content-center mt-3">
                                        <!-- check in text -->
                                        <div class="col-5 text-end">
                                            <h4 class="fw-bold my-auto">Check Out</h4>
                                        </div>
                
                                        <!-- check in datetime -->
                                        <div class="col-7">
                                            <p class="my-auto">{{convert_datetime_readable(e_accom_obj.checkout_datetime)}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="row justify-content-center mt-5 mt-md-4 mb-5 mb-md-0">
                                <div class="col-md-11 text-center text-md-start">
                                    <p>
                                        <i class="fa-solid fa-people-group"></i>
                                        &nbsp;{{e_accom_obj.max_occupancy}} pax
                    
                                        <i class="fa-solid fa-money-bill fa-lg ms-3"></i>&nbsp;{{e_accom_obj.price}} {{e_accom_obj.currency}}
                                    </p>
                                </div>
                                <div class="col-md-4">
                
                                </div>
                            </div>
                
                            <div class="save-btn-div-flight-page justify-content-end">
                                <button type="button" class="btn btn-main-bold-fixed" @click="enable_edit_mode(e_accom_obj.ID)"  :disabled="create_new_accom || edit_existing_accom">Edit</button>
                            </div>
                        </form>
                    </div>

                    <!-- DISPLAY EDIT ACCOM -->
                    <div class="container-md text-dark rounded-4 py-3 px-5 mb-3 position-relative blurred-minor-no-bd-filter" v-else>
                        <form action="#">
                            <!-- title -->
                            <div class="row justify-content-center text-center">
                                <h2><i class="fa-solid fa-hotel"></i> {{accom_name}}</h2>
                            </div>
                    
                            <!-- accom name & local -->
                            <div class="row justify-content-center my-4">
                    
                                <!-- accom name -->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="accom_name" placeholder=" " v-model="accom_name">
                                        <label for="accom_name"><i class="fa-solid fa-hotel"></i> Accommodation Name</label>
                                    </div>
                                </div>
    
                                <!-- accom local -->
                                <div class="col-sm-6 mt-3 mt-sm-0">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="accom_name" placeholder=" " v-model="accom_address" id="autocomplete" @click="this.update_local=true">
                                        <label for="accom_address"><i class="fa-solid fa-location-dot"></i> Address</label>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Check In & Check Out -->
                            <div class="row justify-content-center mb-5 my-md-5 mt-4">
                                <!-- check in text -->
                                <div class="col-md-2 d-flex justify-content-center align-items-center">
                                    <h4 class="fw-bold">Check In</h4>
                                </div>
    
                                <!-- check in input -->
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="datetime-local" placeholder=" " v-model.lazy="checkin_datetime" id="checkin_datetime_i9w2">
                                        <label for="checkin_datetime_i9w2"><i class="fa-regular fa-calendar"></i> Check In Date & Time</label>
                                    </div>
                                </div>
    
                                <!-- check out text -->
                                <div class="col-md-2 d-flex justify-content-center align-items-center mt-3 mt-md-0">
                                    <h4 class="fw-bold">Check Out</h4>
                                </div>
    
                                <!-- check out input -->
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="datetime-local" placeholder=" " v-model.lazy="checkout_datetime" id="checkout_datetime_i9w2">
                                        <label for="checkout_datetime_i9w2"><i class="fa-regular fa-calendar"></i> Check Out Date & Time</label>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- price & occupancy -->
                            <div class="row my-4">
                                <!-- Cost -->
                                <div class="col-md-4 col-sm-4 col-7">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="currency" placeholder=" " v-model="price">
                                        <label for="currency"><i class="fa-solid fa-dollar-sign"></i> Enter the Cost/person</label>
                                    </div>
                                </div>
                    
                                <!-- Currency -->
                                <div class="col-md-3 col-sm-4 col-5">
                                    <div class="drop-list form-floating">
                                        <div class="from">
                                        <!-- <p>From</p> -->
                                            <div class="select-box">
                                                <select class="form-select" id="floatingSelect" v-model="currency" style="height:57px"> <!-- Options tag are inserted from JavaScript --> </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Max occupancy -->
                                <div class="col-md-5 col-sm-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="max_occupancy" placeholder=" " v-model="max_occupancy">
                                        <label for="max_occupancy"><i class="fa-solid fa-people-group"></i> Max Occupancy</label>
                                    </div>
                                </div>
                            </div>
    
                            <!-- attachments -->
                            <div class="row mt-5 mt-md-4 mb-5 mb-md-4">
                                <div class="col-lg-6 col-md-8">
                                    <!-- attachments -->
                                    <div class="form-floating">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text text-light bg-bold fw-semibold" for="inputGroupFile01">Add Attachment</label>
                                            <input type="file" class="form-control" id="inputGroupFile01">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- error message -->
                            <div class="row mb-5 justify-content-center" v-if="error_message.trim()!=''">
                                <div class="alert alert-danger text-center" role="alert">
                                    {{error_message}}
                                </div>
                            </div>
    
                            <!-- save and cancel buttons -->
                            <div class="save-btn-div-flight-page">
                                <button type="button" class="btn btn-fade me-3" @click="clear_form(e_accom_obj.ID)">Cancel</button>
                                <button type="button" class="btn btn-main-fixed" @click="save_edit_existing_accom(e_accom_obj.ID)">Save</button>
                            </div>

                            <!-- thrash icon (delete button) -->
                            <div class="delete-btn-div-flight-page">
                                <button type="button" class="btn btn-fade" data-bs-toggle="modal" data-bs-target="#del_button_modal">
                                    <i class="fa-solid fa-trash-can fa-lg"></i>
                                </button>
                            </div>


                            <!-- Delete Button Modal -->
                            <div class="modal fade" id="del_button_modal" tabindex="-1" aria-labelledby="del_button_modal_label1" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="ModalLabel">Delete Lodging</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure you want to delete <span class="fw-bold">{{e_accom_obj.accom_name}}</span>?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-main-bold-fixed" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-main-fixed" data-bs-dismiss="modal" @click="delete_accom(e_accom_obj.ID)">Confirm</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- TRIP DETAILS -->
                <div class="trip-title-top-md d-none d-md-block">
                    <h5>Name of Trip (Trip to Seoul, Korea)</h5>
                    <p>1 December 2022 - 10 December 2022</p>
                </div>
            </div>
        </div>
    </div>

    <!-- START OF JS IMPORTS (DO NOT ADD ANYTHING BELOW THIS LINE!) ---------------------------------------------------------------------------------------------- -->
    <!-- AXIOS import -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/c7ddd7a650.js" crossorigin="anonymous"></script>
    
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDT5JFriHtLwMDi3C2jZUKSDiakvePwY6g"></script>

    <!-- local js import -->
    <script src="lodging.js" type="module"></script>

    <!-- Refer to sidebar JS -->
    <script src="../pages/sidebars.js"></script>
</body>
</html>