/* buttons ---------------------------------------------------*/
button.btn {
    transition: all .3s ease-in-out;
    font-weight: 600;
}

/* expand margin adding */
button.btn-expand:hover, button.btn-main:hover, button.btn-main-bold:hover, button.btn-main-mild:hover {
    padding-left: calc(.75vw + 15px);
    padding-right: calc(.75vw + 15px);
}

/* btn main */
button.btn-main, button.btn-main-fixed {
    background-color: #24A19D;
    color: #FFFFFF;
}

button.btn-main:active:focus, button.btn-main:active, button.btn-main:hover,
button.btn-main-fixed:active:focus, button.btn-main-fixed:active, button.btn-main-fixed:hover {
    background-color: #127b78 !important;
    border: #127b78 solid 1px !important;
    color: #FFFFFF !important;
}

button.btn-main:disabled, button.btn-main-fixed:disabled {
    background-color: #56d3cf !important;
    border: #56d3cf solid 1px !important;
    color: #FFFFFF !important;
}

button.dropshadow-btn-main{
    filter: drop-shadow(0px 0px 15px #063937);
}

/* btn main bold */
button.btn-main-bold, button.btn-main-bold-fixed {
    background-color: #58788C;
    color: #FFFFFF;
}

button.btn-main-bold:active:focus, button.btn-main-bold:active, button.btn-main-bold:hover,
button.btn-main-bold-fixed:active:focus, button.btn-main-bold-fixed:active, button.btn-main-bold-fixed:hover {
    background-color: #405559 !important;
    border: #405559 solid 1px !important;
    color: #FFFFFF !important;
}

button.btn-main-bold:disabled, button.btn-main-bold-fixed:disabled {
    background-color: #6b8799 !important;
    border: #6b8799 solid 1px !important;
    color: #FFFFFF !important;
}

/* btn main mild */
button.btn-main-mild, button.btn-main-mild-fixed {
    background-color: #DFEEF5;
    color: #405559;
}

button.btn-main-mild:active:focus, button.btn-main-mild:active, button.btn-main-mild:hover,
button.btn-main-mild-fixed:active:focus, button.btn-main-mild-fixed:active, button.btn-main-mild-fixed:hover {
    background-color: #c7dbe4 !important;
    border: #c7dbe4 solid 1px !important;
    color: #405559 !important;
}

button.btn-main-mild:disabled, button.btn-main-mild-fixed:disabled {
    background-color: #DFEEF5;
    color: #82a0a6;
    border: #DFEEF5 solid 1px;
}

/* btn fade */
button.btn-fade {
    background-color: #DFEEF5 !important;
    color: #71888c !important;
}

button.btn-fade:focus, button.btn-fade:active, button.btn-fade:hover {
    background-color: #bcd0d8 !important;
    border: #bcd0d8 solid 1px !important;
    color: #405559 !important;
}

/* btn delete */
button.btn-delete {
    background-color: #ffffff00 !important;
    border: #ffffff00 solid 1px !important;
    color: #d4e6e9 !important;
}

button.btn-delete:focus, button.btn-delete:active, button.btn-delete:hover {
    background-color: #bcd0d8 !important;
    border: #bcd0d8 solid 1px !important;
    color: #405559 !important;
}

/* save button on flight page */
.save-btn-div-flight-page{
    position: absolute;
    bottom: 20px;
    right: 60px;
    width: 10vw;
    display: flex;
    justify-content: center;
}

.delete-btn-div-flight-page{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10vw;
    text-align: end;
}

/* dropdown chevron icon toggle */
button.dropdown[aria-expanded = true] .fa-chevron-down{
    display: none;
}

button.dropdown[aria-expanded = false] .fa-chevron-up{
    display: none;
}

/* nav items */
.nav-pills span{
    color: #0a4a48;
}


/* Homepage elements */
img.homepage-main-img{
    object-fit: cover ;
    object-position: center;
    width: 100%;
    max-height: calc(5vw + 75px);
    filter: brightness(40%);
}

div#animated-text{
    font-size: calc(1.8vw + 30px);
    font-weight: 500;
}

.blurred{
    backdrop-filter: blur(12px) !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: 0 !important;
}

.blurred-minor{
    backdrop-filter: blur(1px) !important;
    background:  rgba(255, 255, 255, 0.5) !important;
    border: 0 !important;
}

.blurred-minor-2{
    backdrop-filter: blur(25px) !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border: 0 !important;
}

.blurred-primary{
    backdrop-filter: blur(25px) !important;
    background-color: #24a19d77 !important;
    border: 0 !important;
}

.blurred-minor-no-bd-filter{
    background:  rgba(255, 255, 255, 0.5) !important;
    border: 0 !important;
}

.blurred-minor-no-bd-filter-2{
    background:  rgba(255, 255, 255, 0.744) !important;
    border: 0 !important;
}

.blurred-minor-gradient{
    backdrop-filter: blur(1px) !important;
    background: linear-gradient(90deg, rgba(36, 161, 157, 0.7), rgba(36, 161, 157, 0.15)) !important;
    border: 0 !important;
}

.blurred-minor-gradient-login{
    backdrop-filter: blur(1px) !important;
    background: linear-gradient(90deg, rgba(36, 161, 157, 1), rgba(36, 161, 157, 0.15)) !important;
    border: 0 !important;
}

.transparent{
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0 !important;
}

.blurred-btn{
    backdrop-filter: blur(1px) !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border: 0 !important;
    color: #405559 !important;
}

.blurred-btn:hover{
    backdrop-filter: blur(1px) !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: 0 !important;
}


/* Create trip */
img.create-trip-main-img{
    object-fit: cover ;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

/* login page */
.login-page-carousel-img .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}


/* top trip title bar */
.trip-title-top-md{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: auto !important;
    border-radius: 0 0 0 1em !important;
    padding: 10px 10px 0px 20px !important;
    z-index: 10;
}

.spending-bottom-md{
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: auto !important;
    border-radius: 1em 0 0 0 !important;
    padding: 10px 10px 0px 20px !important;
    color:black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar {
    display: none;
}

#nav{
    z-index: 1;
}

/* .bring-front{
    z-index: 0 !important;
} */